body {
  background-color: grey;
}
h1 {
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
}
.main-header {
  background: #fff;
  box-sizing: border-box;
  left: 0;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation__list {
  list-style: none;
  padding: 0; 
}
.navigation__item {
  display: inline;
  margin: 100px;
  font-size: 18px;
}
.navigation__link {
  color: #1a9361;
  text-decoration: none;
}
.welcome {
  
}